<li>
    <p>
        <!-- show the delete comment button only to the author of comment , same as post-->
        <% if( (locals.user) && (locals.user.id==comment.user.id)) { %> 
            <small>
                <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <!-- displaying name of user who posted the comment -->
            <%=  comment.user.name %> 
        </small>
    </p>
</li>