<link rel="stylesheet" href="/css/user_profile.css">

<!-- dont need html tags and all as layout handles all of that -->
<h1>
    Codeial / Profile Page
</h1>

<p> <%= profile_user.name %></p>
<p> <%= profile_user.email %></p>
   
    
