<link rel="stylesheet" href="/css/user_profile.css">

<!-- dont need html tags and all as layout handles all of that -->
<h3>
    Codeial / Profile Page
</h3>

<p>Name :  <%= user.name %></p>
<p>Email: <%= user.email  %> </p>

<form action="/users/delete-session" method="POST">
    <button type="submit" name="userid" value="<%= user.id %>">
        Sign Out
    </button>
</form>

   
    
