<div>
    <p>
        Hi <%= comment.user.name %>!
        <br>
        <p>Your comment <strong><%= comment.content %></strong> just got published on codeial</p>
        <br>
        <p>
            Thanks!
        </p>
    </p>
</div>